
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%;  // 1rem = 8px 
  }  

}

body {
  box-sizing: border-box;
}
