body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;  
}


.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    /* Shake fix */
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    margin-bottom: 6rem;
  
    & * {
      /* Make the spans block level elements */
      display: block;
    }
  
    &--main {
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
  
      -webkit-animation: moveInLeft 1s ease-out;
  
              animation: moveInLeft 1s ease-out;
    }
  
    &--sub {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
  
      -webkit-animation: moveInRight 1s ease-out;
  
              animation: moveInRight 1s ease-out;
    }
  }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from($color-primary-light), to($color-primary-dark));
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  
  &:hover {
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
            transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, $alpha: 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}